# Typecasting    

#### Is used to convert integer to float or any other data type

In [ ]:
x = 10
y = 3.14

x = float(x)

# Comparision operators

##  != not equal to"

In [ ]:
import math

In [ ]:
x = -5.5

In [ ]:
print(abs(x))

In [ ]:
print(round(x))

In [ ]:
print(max(1,2,3))

In [ ]:
print(pow(2,3))

In [ ]:
print(math.sqrt(18))

In [ ]:
math.cbrt(27)

# Defining Strings

In [ ]:
x = "               Hello , Wordl!"

In [ ]:
x = x.strip()

In [ ]:
print(x.lower())

In [ ]:
print(x.split(","))

In [ ]:
print(x.endswith("World!"))

In [ ]:
x[6]

In [ ]:
x[0:6]

In [ ]:
x[:5]

In [ ]:
x[::-1]

# String Formatting

In [ ]:
x = "Hawa"
y = 25

In [ ]:
print("My name is %s and i am %d  years old." %(x,y))

In [ ]:
print(f" aslkdjsaldsad  {x} , asdadasdasdad {y}")

# Sqeunce Types including different data types

#### List  = [ ]

In [ ]:
x = [1 , "Bijay" , True , 6]

In [ ]:
type(x)

# Slicing Lists

vairalbe [ Starting index : stop index : step ]

In [ ]:
x = [1 , 2, 3 , 4 ]

In [ ]:
x[::2]

# Modifying list

In [ ]:
x .append(6) # adds at the end of the list

In [ ]:
x.insert(2 , "aaple") #adds to the 2nd index of the list not deletes the current 2nd index

In [ ]:
x.remove("aaple")

In [ ]:
x

In [ ]:
x.pop(2) # remove functions uses the values inside where pop removies by index
print(x)

In [ ]:
x = [1,2,3,4,5,6,7,8,1,1,1,1,1,1,1,1,1,1,1,1]

In [ ]:
x.count(1)

In [ ]:
x.sort()
print(x)

In [ ]:
x.sort(reverse = True )
print(x)

In [ ]:
x.index(5) # returns the index of the first index of the value that it finds from the left to the right

# Tuple

## Creating a tuple elements 
they are immutable

In [ ]:
tuple = (1,2,3,4)

In [ ]:
tuple

 Once created, you cannot modify the contents of a tuple. this means that you cannot add or remove

In [ ]:
x = 1,2,3,4,5  
# if no brackets are given to specify the type of data structure, tuple or list or etc, it automatically assigs it to a tuple
print(type(x))

In [ ]:
print(sum(x))

print(max(x))

# Set Types

Set are created ussing curly braces { } 

sets basically arranges all numbers automatically \
sets removes the duplicates \
sets does not have a way to index the elemets in the sets (not subscriptable) \
Form submissions where you want to discard duplicate submissions \

In [ ]:
x = { 1 , 2, 3, 4}
y = set([1,2,3,4,])
print(x, y)
print(type(x))
print(type(y))

In [ ]:
x = { 1, 3 , 3, 24, 5, 6 }
y = { 2, 4, 6, 8, 10 ,12 }

In [ ]:
x.add(7)
print(x)

# Mapping type

## Dictionaries

{ \
    key : value,\
    key2 : value2,\
    key3 : value3\
}

In [ ]:
person = {
            "name" : "BIjay",
            "age" : 30,
            "city" : "Kathmandu"
}

In [ ]:
print(person)

In [ ]:
person.keys()

In [ ]:
print(person["name"])

In [ ]:
del person["city"]   # to delete the city of the dictionaries
print(person)

In [ ]:
person.pop("city" , "NYC")  # if there is no key like the key city then it automatically gives the value NYC

In [ ]:
print(person)

In [ ]:
person.clear()

In [ ]:
person

# Python Boolean Type

In [ ]:
x = 10
y = 0

s = "hello"
t = ""
y = " "

lst = [1,2,3]
empty_lst = []

dct = {"a" : 1 , "b" : 2}
empty_dct = {}

obj = object()
none_obj = None

print(bool(t))

print(bool(y))

print(bool(empty_dct))

print(type(empty_dct))

# Python Binary type

in python it represents using the bytes and bytearray type \

In [ ]:
b = bytes([0,1,2,3,4,5])

In [ ]:
print(b)

In [ ]:
b = bytearray([0,1,2,3,4,5])

In [ ]:
print(b)

In [ ]:
b.hex()

Unicode encoder

# Conditional statement

In [ ]:
x =5
y = 10
if x > 4 and x > 2 and y > 11 and x > 6:
    print("Safe")
else:
    print("not safe")
    x += 5
    print(x)

In [ ]:
grade = float(input())

if grade >= 80 and grade <= 100:
    print("Grade A")

elif grade >= 60 and grade < 80:
    print("Grade B")

elif  grade >= 40 and grade < 60:
    print("Grade C")

elif grade < 40 and grade >= 0:
    print("Grade D")

else:
    print("Enter the correct range of grade")

# Looop statements in python

In [ ]:
fruits = [ 'apple', 'banana' , 'cherry', 'pineapple' ]

for x in fruits:                                         #  used for anything that is in a sequence type like list , tuple or dicrt
    print(x)

In [ ]:
number  = int(input("Enter a number "))

for i in range(10):
    print(number * (i +1))

In [1]:
number = int(input("Enter the number of lines of star you want to print: "))
for i in range(number+1):
    print(" * " * i)

Enter the number of lines of star you want to print:  5

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *

In [9]:
number = int(input("Enter the number of lines of star you want to print: "))
for i in range(number + 1 , 0 , -1):
    for j in range(i):
        print( "* " , end = " " )
    print("")

Enter the number of lines of star you want to print:  5

*  *  *  *  *  *
*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

In [11]:
number = int(input("Enter a number "))
x = 1

while x <= 10:
    print(f" {number} * {x} = {number * x} ")
    x += 1

Enter a number  4

 4 * 1 = 4
 4 * 2 = 8
 4 * 3 = 12
 4 * 4 = 16
 4 * 5 = 20
 4 * 6 = 24
 4 * 7 = 28
 4 * 8 = 32
 4 * 9 = 36
 4 * 10 = 40

In [21]:
number  =  int(input("Enter a number "))

div = int((number / 10))

rem = int(number % 10)

print(div * rem)

Enter a number  55

25

# Python Compreshnsion

## List comprehension

    * is a concise way to create list.
    * it provides a compact syntax for mapping a given iterable to a new list by applying a spectific expression to each element in the     
     original iterable
     * Can be used only for a list

In [22]:
number  = [1, 2, 3, 4, 5]
squared = []

for each in number:
    squared.append( each ** 2)

print(squared)

[1, 4, 9, 16, 25]

In [28]:
# Using List comprehension

squared = [each ** 2 for each in number]
print(squared)

[1, 4, 9, 16, 25]

In [31]:
words = [ 'data', 'science', 'machine', 'learning']
lenghts = [len(wo) for wo in words]
print(lenghts)

[4, 7, 7, 8]

In [34]:
import math

---

In [48]:
number = [-2 , -1, 0, 1, 2, 3, 4]

positive_doubles = [double * 2 for double in number if double > 0]

print(positive_doubles)

[2, 4, 6, 8]

---

## Dictionary Comprehension

```python

    new_dict = { key_expression: value_expression for item in iterable if condition}

```

In [51]:
words = [ 'data', 'science', 'machine', 'learning']
new_dict = { data : len(data) for data in words}
print(new_dict)

{'data': 4, 'science': 7, 'machine': 7, 'learning': 8}

In [55]:
words = [ 'data', 'science', 'machine', 'learning', ' Deep', 'Python']

new_dict = { data : len(data) for data in words if len(data) > 4 }
print(new_dict)
print(type(new_dict))

{'science': 7, 'machine': 7, 'learning': 8, ' Deep': 5, 'Python': 6}
<class 'dict'>

In [57]:
words = [ 'data', 'science', 'machine', 'learning', ' Deep', 'Python']

new_dict = { data for data in words if len(data) > 4 }

print(new_dict)
print(type(new_dict))

{'Python', ' Deep', 'machine', 'learning', 'science'}
<class 'set'>

## Set Comprehension

Same as dictionary comprehension but in the expression there is no key and values

In [69]:
number = [-2 , -1, 0, 5, 2, 3, 4, 9,20,30]

positive_doubles = {double * 2 for double in number if double > 0}

print(positive_doubles)

{4, 6, 8, 40, 10, 18, 60}

In [78]:
input_str = "Hello, world!"
vowels = 'aeiou'
vowels_cont = {vow for vow in input_str for vowel in vowels if vowel == vow}
print(list(vowels_cont))

['o', 'e']

In [79]:
input_str = "Hello, world!"
vowels = set('aeiou')
vowels_cont = {vow for vow in input_str if vow in vowels}
print(list(vowels_cont))

['o', 'e']

In [88]:
list = ('a','b')
if 'a' in list:
    print("OK")

OK